{% extends 'bootstrap/index.html' %}

{% block content %}
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
</head>

<h1 style="text-align: center">Team Membership</h1>

<div style="margin: auto; width: 80%;">
    <a href = "{% url 'team_membership_add' %}" class="btn btn-success" style="float: right; margin-bottom: 10px; margin-right: 10px;">Criar</a>
</div>

<div style="margin: auto; width: 80%; padding: 10px;">
    <table id="table" class="display" style="width:100%">
        <thead>
            <tr>
                {% for column in object_list.cols %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for team_membership in object_list.rows %}
                <tr>
                    <td>{{ team_membership.team.name }}</td>
                    <td>{{ team_membership.member.name }}</td>
                    <td>{{ team_membership.organizational_role.name }}</td>
                    <td>
                        <a href="{% url 'team_membership_update' team_membership.pk %}">Atualizar</a>
                        <a href="{% url 'team_membership_delete' team_membership.pk %}">Deletar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<script>
$('#table').DataTable();
</script>
{% endblock %} 